<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!-- enables printing of internal status messages - useful for logback debugging -->
    <!--<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />  -->

    <!-- As of version 0.9.25, logback-classic ships with LevelChangePropagator, 
    an implementation of LoggerContextListener which propagates changes made 
    to the level of any logback-classic logger onto the java.util.logging 
    framework. Such propagation eliminates the performance impact of disabled
    log statements. Instances of LogRecord will be sent to logback (via SLF4J)
    only for enabled log statements. This makes it reasonable for real-world
    applications to use the jul-to-slf4j bridge.-->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- Standard logging to console -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{dd.MM.yyyy HH:mm:ss} %-5level %mdc{user} \(%class:%line\) - %message%n</pattern>
        </encoder>
    </appender>

    <!-- ZKHibernate appender -->
    <appender name="ZKHibernate" class="cz.datalite.zkspring.monitor.ZKLogbackAppender"/>

    <!--### Jetty LOG ### -->
    <logger name="org.mortbay.log" level="ERROR"/>

    <logger name="cz.datalite.zk.components" level="DEBUG"/>

    <logger name="org.hibernate.validator" level="WARN"/>

    <!--### Datalite bude WARN###-->
    <logger name="cz.datalite" level="WARN"/>

    <!--### Výpis příkazů ###-->
    <logger name="org.hibernate.SQL" level="TRACE" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="ZKHibernate"/>
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="ZKHibernate"/>
    </logger>


    <!--### log JDBC bind parameters - povolit pro výpis bindovaných hodnot ###-->
    <!--    <logger name="org.hibernate.type" level="TRACE" additivity="false">-->
    <!--        <appender-ref ref="ZKHibernate" />-->
    <!--    </logger>-->

    <!--### log HQL builder parser activity-->
    <logger name="org.hibernate.cache" level="INFO" additivity="false">
        <appender-ref ref="ZKHibernate"/>
    </logger>

    <logger name="org.hibernate.cfg" level="WARN" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <!--#### Spring-->
    <logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="ZKHibernate"/>
    </logger>

    <!-- application -->
    <logger name="cz.datalite.zis" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="ZKHibernate"/>
    </root>

</configuration>